body {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 16);
    height: 100vh;
    font-family: 'Roboto',sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline-start: 5px;
    padding-inline-end:  5px;
    box-sizing: border-box;
    border-bottom: solid;
    border-width: 1px;
    background-color: rgb(16, 16, 16);
    color: white;
}

.header h1 {
    font-size: 32px;
}

.header li {
    display: inline;
    font-size: 18px;
}

.container {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    margin-top: 10vh;
    width: 1000px;
    height: 600px;
}

#left-panel {
    width: 200px;
    height: 100%;
    background-color: rgb(23, 29, 43);
}

#right-panel {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 42, 63);
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
    width: 800px;
}

.items-container {
    height: 500px;
    overflow-y: auto;
}

.items {
    list-style-type: none;
    color: white;
    border-radius: 5px;
    padding-left: 0;
}

.items li {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 29, 43);
    border-radius: 10px;
    margin: 10px;
}

.message-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header-user {
    color: aquamarine;
    font-style: italic;
}

.header-time {
    color: aqua;
}

.message-body {
    color: white;
    word-wrap: break-word;
    padding: 5px;
}

.text-container {
    display: flex;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;
}

.text-container label {
    color: white;
}

.text-container textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(16, 19, 29);
    border: none;
    border-start-end-radius: 0px;
    border-end-end-radius: 0px;
    font-size: 14px;
    color: white;
    resize: none;
}

.text-container textarea:focus {
    outline: none !important;
}

.options-container {
    height: 100%;
}

.options-container button {
    height: 100%;
    width: 80px;
    background-color: rgb(16, 19, 29);
    border-style: none;
    border-start-end-radius: 5px;
    border-end-end-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.btn-icon {
    transform: scale(2);
    color: rgb(255, 255, 255, .5);
}

.btn-icon:hover {
    color: white;
}

.btn-icon:active {
    transform: scale(2.2);
}