body {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 16);
    height: 100vh;
    font-family: 'Roboto',sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-inline-start: 5px;
    padding-inline-end:  5px;
    box-sizing: border-box;
    border-bottom: solid;
    border-width: 1px;
    background-color: rgb(16, 16, 16);
    color: white;
}

.header h1 {
    font-size: 32px;
}

.header li {
    display: inline;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    margin: auto;
    box-sizing: border-box;
    padding: 30px;
    width: 800px;
    max-width: 100%;
    position: relative;
}

.items {
    list-style-type: none;
    background-color: rgb(16, 16, 16);
    color: white;
    border-radius: 5px;
    padding-left: 0;
}

.items li {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 29, 43);
    border-radius: 10px;
    margin: 10px;
}

.message-header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header-user {
    color: aquamarine;
    font-style: italic;
}
.header-time {
    color: aqua;
}

.message-body {
    color: white;
    word-wrap: break-word;
    padding: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    background-color: transparent;
    box-sizing: border-box;
    bottom: 0;
    padding: 10px;
}

.text-container label {
    color: white;
}

.text-container textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(16, 16, 16);
    color: white;
    resize: none;
}

.options-container {
    display: flex;
    flex-direction: row-reverse;
    height: 30px;
    align-items: center;
}

.options-container button {
    height: 25px;
    width: 10%;
    border-style: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.options-container button:active {
    background-color: rgb(100, 100, 100);
}
